<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
<div class="post-container">
    <h2><a href="/post/{{post.id}}">{{post.title}}</a></h2>
    <h3>Created by {{post.user.username}} on {{format_date post.date_created}}</h3>
    <p>{{post.contents}}</p>
    <button>delete</button>
</div>
{{/each}}