{{!Dashboard:
1. all posts by user, can click single post and then edit/delete it, and then brought back to updated dashboard
}}

<!-- Loop over each object in the posts array -->
<h2 style="text-align: center">My Posts</h2>
{{#each posts as |post|}}
<div class="post-container">
    <h2>{{post.title}}</h2>
    <h3>Created on {{format_date post.date_created}}</h3>
    <p>{{post.contents}}</p>
    <div class="two-buttons">
    <div class="edit-button">
    <button onclick="window.location.href='/edit-post/{{post.id}}';">edit</button>
    </div>
    <div class="delete-button">
    <button data-id="{{post.id}}">delete</button>
    </div>
    </div>
</div>
{{/each}}
<div class="button-div">
<button onclick="window.location.href='/new-post';">New post</button>
</div>

<script src="./js/dashboard.js"></script>