<div>
    {{!-- This post id is passed as a data attribute to the js file --}}
    <div class="post-container" data-post-id="{{id}}">
        <h2>{{title}}</h2>
        <h3>Created by {{user.username}} on {{format_date date_created}}</h3>
        <p>{{contents}}</p>
    </div>

    <div class = "comments">
    <h4>Comments</h4>
    {{!view all of the post's comments --}}
    {{#if comments.length}}
    {{#each comments as |comment|}}
    <p>{{comment.comment}} by {{comment.user.username}} on {{format_date comment.date_created}}</p>
    {{/each}}
    </div>
    {{/if}}
</div>

{{#if logged_in}}
<div class="comment-box-div">
    <h3> Add a Comment</h3>
    <form class="comment-form">
    <textarea id="comment-box-input"></textarea>
    <div class="button-div">
    <button class="submitting-button" type="submit">submit</button>
    </div>
    </form>
</div>
{{else}}
<p class="login-to-comment">Login to comment</p>
<div class="button-div">
    <button onclick="window.location.href='/login';">login</button>
</div>
{{/if}}

<script src="../js/single-post.js"></script>