<div class="post-container">
    <div>
        <h2>{{title}}</h2>
        <h3>Created by {{user.username}} on {{format_date date_created}}</h3>
        <p>{{contents}}</p>
    </div>

    <div>
    {{!-- need to view all of the post's comments --}}
    {{comment.comment}}
    </div>
</div>



{{!-- and have the option to leave a comment
WHEN I enter a comment and click on the submit button while signed in
THEN the comment is saved and the post is updated to display the comment, the comment creator’s username, and the date
created --}}
{{#if logged_in}}
<div class="comment-box-div">
    <input type="text" id="comment-box-input" />
</div>
{{else}}
<p class="login-to-comment">Login to comment</p>
<div class="button-div">
    <button onclick="window.location.href='/login';">login</button>
</div>
{{/if}}